/* Khung bo góc lớn hơn và đổ bóng mịn màng cho bảng thông báo */
.notif-pane {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16; /* Tăng bo tròn góc khung viền */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.12), 12, 0, 0, 4);
    -fx-padding: 15;
}

/* Định dạng chung cho 2 nút bấm */
.button.fb-button {
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-radius: 30; /* Tăng bo tròn dạng viên thuốc hoàn hảo */
    -fx-border-radius: 30;
    -fx-padding: 6 16 6 16;
    -fx-cursor: hand;
}

/* Nút bấm đang được chọn (Active) - Xanh Facebook */
.button.fb-button-active {
    -fx-background-color: #E7F3FF ;
    -fx-background-radius: 30; /* Tăng bo tròn dạng viên thuốc hoàn hảo */
    -fx-border-radius: 30;
    -fx-text-fill: #1877F2 ;
}

.button.fb-button-active:hover {
    -fx-background-color: #DBE7F6 ;
    -fx-background-radius: 30; /* Tăng bo tròn dạng viên thuốc hoàn hảo */
    -fx-border-radius: 30;
}

/* Nút bấm trạng thái bình thường (Normal) - Xám nhạt */
.button.fb-button-normal {
    -fx-background-color: #E4E6EB ;
    -fx-text-fill: #050505 ;
    -fx-background-radius: 30; /* Tăng bo tròn dạng viên thuốc hoàn hảo */
    -fx-border-radius: 30;
}

.button.fb-button-normal:hover {
    -fx-background-color: #D8DADF ;
}