.forgot-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-text-fill: #555;
}
.root-pane {
    -fx-background-image: url("../img/login.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}
.label-account {
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.forgot-btn:hover {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #0078d4;
}

.button{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.button:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.8;
}

.text-input{
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}
